@charset "utf-8";
/* header */
.header {}
.header .header-menu {text-align: right;}
.header .header-menu a {padding: 10px 0px 10px; display: inline-block;}
.header .header-tit {text-align: center; font-size: 30px}
#header {height: 200px; background: url(../img/header.jpg) center top repeat-x }
/* 전체 옵션 */
* {
	margin: 0 auto;
	padding: 0;
	font-family: 'Malgun gothic','Sans-Serif','Arial';
}
h2 {
  margin-top: 50px;
  margin-bottom: 30px;
}
a {
	text-decoration: none;
	color:#333;
}
ul li {
	list-style:none;
}

/* 공통 */
.fl {
	float:left;
}
.tc {
	text-align:center;
}

/* 게시판 목록 */
#board_area {
	width: 900px;
	position: relative;
}
.list-table {
	margin-top: 40px;
}
.list-table thead th{
	height:40px;
	border-top: 2px solid rgba(0, 0, 150,0.5);
  border-left: 2px solid rgba(0, 0, 150,0.5);
  border-right:2px solid rgba(0, 0, 150,0.5);
	border-bottom:2px solid rgba(0, 0, 150,0.5);
	/* border: 2px 1px 1px 1px solid green; */
	font-weight: bold;
	font-size: 17px;
}
.list-table tbody td{
	text-align:center;
	padding:10px 0;
	border-bottom:1px solid #CCC; height:20px;
  border-left : 1px solid #CCC;
  border-right : 1px solid #CCC;
	font-size: 14px
}

.list-table thead td:last-child{
  text-align:center;
  padding:10px 0;
  border-bottom:2px solid green; height:20px;
  font-size: 14px
}
.input button{

}
.re_ct {font-weight:bold; color:red; margin-left: 10px;}
#write_btn {
	position: absolute;
	margin-top:20px;
	right: 0;
	margin-bottom: 20px;
}

#page_num {
	font-size: 14px;
	margin-left: 260px;
	margin-top:30px;
}
#page_num ul li {
	float: left;
	margin-left: 10px;
	text-align: center;
}
.fo_re {
	font-weight: bold;
	color:red;
}

#search_box {
	margin-top:30px;
	text-align: center;
}
#search_box2 {
	text-align: center;
	margin-top: 30px;

}
