*
{
margin: 0 auto;
padding:0;
}
.mem a:link  {color: black;  text-decoration: none;  }
.mem a:visited  {color:black;    text-decoration: none;  }
.mem a:hover {color:#4aa8d4;}

h1
{
  text-align: center;
}
h2
{
  margin-left: 100px;
  margin-top: 20px;
}
ul li
{
list-style: none;
}

#login_box
{
margin-top: 20px;
width:500px;
height:200px;
border:solid 2px gray;
}

table
{
margin-top:10px;
}



#btn
{
width:95px;
height:55px;
background: skyblue;
border:solid 1px skyblue;
}

.inph
{
height:25px;
}
