@charset "utf-8";

/* 전체 옵션 */
/* * {
	margin: 0 auto;
	padding: 0;
	font-family: 'Malgun gothic','Sans-Serif','Arial';
} */
h1 {
	text-align: center;
}
h2 {
	text-align: center;
	color :#333;
}

#id_check
{
	font-size: 10px;
}
#pw_check
{
	font-size: 10px;
}
#pwre_check
{
	font-size: 10px;
}
#name_check
{
	font-size: 10px;
}
#email_check
{
	font-size: 10px;
}


#signup_area {
	width: 580px;
	position: relative;
}

.list-table {
	margin-top: 4px;
}

.list-table .name {

	padding-left: 10px;
	text-align: left;
}

 .list-table tbody td{
	text-align: left;
	padding:20px 0 0 70px;
	font-size: 14px
  border-collapse:collapse;
}

.button{
	text-align: center;
	margin-top: 10px;
	margin-bottom:  20px;

}
#write_btn {
	position: absolute;
	margin-top:20px;
	margin-right: 20px;
	right: 0;
	margin-bottom: 20px;
}
